
<div class="container" ng-show="">

  <form class="form-horizontal" ng-submit>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Name your pirate" ng-model="view.newPirate.name">
      </div>
    </div>
    <div class="form-group">
      <label for="poison" class="col-sm-2 control-label">Poison</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="poison" placeholder="Poison" ng-model="view.newPirate.poison">
      </div>
    </div>
    <div class="form-group">
      <label for="accesory" class="col-sm-2 control-label">Accesory</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="accesory" placeholder="Accesory of choice" ng-model="view.newPirate.accessory">
      </div>
    </div>

    <div class="form-group">
      <label for="imageUrl" class="col-sm-2 control-label">Image url</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="imageUrl" placeholder="Accesory of choice" ng-model="view.newPirate.image_url">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" ng-click="view.change()"class="btn btn-default">Make yer mark</button>
      </div>
    </div>
  </form>
</div>
